<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.uni.mapper.uni_reviewMapper">

   <!-- 리뷰리스트 조회 -->
   <select id="readReviewList"
      resultType="com.uni.domain.uni_JoinReviewVO">

      select r.hno, m.mno, m.name, m.photo,m.userid, r.regdate, r.star, r.content from
      uni_review r, uni_member m where r.mno = m.mno and r.ino = #{ino}
      order by r.hno

   </select>
   
   <!-- 리뷰 한개 조회 -->
   <select id="readReview" resultType="com.uni.domain.uni_JoinReviewVO">
      select m.name, r.star, r.content 
      from uni_review r, uni_member m 
      where r.mno = m.mno and r.hno =#{hno}
   </select>
   
   <delete id="removeReview">
      delete from uni_review where hno = #{hno}
   </delete>
   
   <update id="updateReview">
      update uni_review set content = #{content}, star = #{star} where hno = #{hno}
   </update>

</mapper>

